node_modules/

# python gitignore

# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# distribution / packaging
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
manifest

# pyinstaller
#  usually these files are written by a python script from a template
#  before pyinstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# translations
*.mo
*.pot

# django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.db
# flask stuff:
instance/
.webassets-cache

# scrapy stuff:
.scrapy

# sphinx documentation
docs/_build/

# pybuilder
target/

# jupyter notebook
.ipynb_checkpoints

# ipython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   according to pypa/pipenv#598, it is recommended to include pipfile.lock in version control.
#   however, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#pipfile.lock

# pep 582; used by e.g. github.com/david-oconnor/pyflow
__pypackages__/

# celery stuff
celerybeat-schedule
celerybeat.pid

# sagemath parsed files
*.sage.py

# environments
.env
.venv
env/
venv/
env/
env.bak/
venv.bak/

# spyder project settings
.spyderproject
.spyproject

# rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre type checker
.pyre/

# mac generated files
__macosx/
._.ds_store

# editor generated files
.vscode/

# ignore admin staticfiles
admin/
parketserver/media/
parketserver/uploads/
.faker_attributes

nginx/


# react gitignore

.ds_store
scripts/flow/*/.flowconfig
.flowconfig
*~
.grunt
_specrunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.sw[op]

packages/*
.next/

admin/
parketserver/media/*
^assets/

# yarn autogenerated files
main.js.license.txt

# elastic beanstalk files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


*.rdb